<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Gestion des catégories </title>
  <th:block th:insert="fragments/base.html :: head"></th:block>
</head>
<body>
<div class="container">
  <form method="post" th:action="@{/category/create}" class="m-2">
    <div class="form-group">
      <label for="label">Nom de la catégorie</label>
      <input type="text" class="form-control" id="label" name="label" placeholder="Nom de la catégorie">
    </div>
    <button type="submit" class="btn btn-primary m-2">Ajouter</button>
    <a th:href="@{/user/management}" class="btn btn-danger my-3">Retour</a>

  </form>
  <table class="table table-bordered table-striped table-dark text-center">
    <thead>
    <tr>
      <th scope="col">Nom de la catégorie</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="category : ${categories}">
        <td th:text="${category.label}"></td>
      <td>
        <a th:href="@{/category/editCategory/{id}(id=${category.id})}" class="btn btn-primary">Modifier</a>
        <a th:href="@{/category/deleteCategory/{id}(id=${category.id})}" class="btn btn-danger">Supprimer</a>
      </td>
    </tr>
    </tbody>
    </table>
</div>
</body>
</html>