<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Gestion </title>
  <th:block th:insert="fragments/base.html :: head"></th:block>
</head>
<body>
<div class="py-5">
  <div class="container">
    <div class="row hidden-md-up">
      <div class="col-md-4">
        <div class="card border-warning m-1 text-center p-2">
          <div class="card-block">
            <h3 class="card-title">CRUD CATEGORIE</h3>
            <h4 class="card-subtitle text-muted">Opérations liées à la gestion des catégories</h4>
            <a href  th:href="@{'/category/categoryManagement'}" class="btn btn-warning m-2" >Crud catégories</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card border-success m-1 text-center p-2">
          <div class="card-block">
            <h3 class="card-title">CRUD ANNONCE</h3>
            <h4 class="card-subtitle text-muted">Opérations liées à la gestion des annonces</h4>
            <a href th:href="@{'/ad/adManagement'}" class="btn btn-success m-2" >Crud Annonce</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card border-primary m-1 text-center p-2">
                  <div class="card-block">
            <h3 class="card-title">CRUD UTILISATEUR</h3>
            <h4 class="card-subtitle text-muted">Opérations liées à la gestion des utilisateurs</h4>
            <a href th:href="@{'/user/userManagement'}" class="btn btn-primary m-2" >Crud utilisateur</a>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
</body>
</html>