<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gestion des utilisateurs </title>
    <meta charset="UTF-8">
   <th:block th:insert="fragments/base.html :: head"></th:block>

</head>
<body>
<div class="container">

    <form method="post" th:action="@{/user/create}">
        <h3 class="text-center">Créer un compte</h3>
        <div class="form-group">
            <label for="lastName">Nom</label>
            <input type="text" placeholder="lastName" id="lastName" class="form-control" name="lastName"/>
        </div>
        <div class="form-group">
            <label for="firstName">Prénom</label>
            <input type="text" placeholder="firstName" id="firstName" class="form-control" name="firstName"/>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
        </div>
        <button type="submit" class="btn btn-primary my-3">Créer l'utilisateur</button>
        <a th:href="@{/user/management}" class="btn btn-danger my-3">Retour</a>
    </form>
    <table class="table table-bordered table-striped table-dark text-center">
        <thead>
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Password</th>
            <th scope="col">Role</th>
            <th scope="col"> Actif ?</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.password}"></td>
            <td th:text="${user.isAdmin} ? 'Administrateur': 'Simple utilisateur'"></td>
            <td th:text="${user.isActive}? 'Actif': 'Banni '"></td>
            <td>
                <a th:href="@{/user/edit/{id}(id=${user.id})}" class="btn btn-primary m-2">Edit</a>
                <a th:href="@{/user/profile/{id}(id=${user.id})}"
                    th:if="${user.isAdmin}"  class="btn btn-info m-2">Admin</a>
                <a th:href="@{/user/profile/{id}(id=${user.id})}"
                    th:unless="${user.isAdmin}" class="btn btn-warning m-2">User</a>

                <a th:href="@{/user/ban/{id}(id=${user.id})}"
                    th:if="${user.isActive}" class="btn btn-success m-2">Ban</a>
                <a th:href="@{/user/ban/{id}(id=${user.id})}"
                    th:unless="${user.isActive}" class="btn btn-warning m-2">Unban</a>
                <a th:href="@{/user/delete/{id}(id=${user.id})}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>


</body>
</html>